# Fixing the Country Dummies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('oscars_11.csv')

In [3]:
data

,Title,Budget,Runtime,Months_till_Dec,Year,Metascore,imdbRating,Animation,Comedy,Family,...,Laos,Uganda,Kosovo,Qatar,Colombia,Pakistan,Cambodia,Nigeria,is_Nominated,Won
0,Toy Story,30000000,81,1,1995,95.00,8.3,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,65000000,104,0,1995,39.00,7.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Waiting to Exhale,16000000,124,0,1995,54.32,5.9,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Heat,60000000,170,0,1995,76.00,8.2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sabrina,58000000,113,2,1995,72.00,7.7,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7816,State Fair,4500000,100,4,1933,79.16,7.0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
7817,Flirtation Walk,479000,97,0,1934,79.16,5.8,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7818,Smilin' Through,851000,98,3,1932,79.16,6.9,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7819,The Hollywood Revue of 1929,426000,130,1,1929,79.16,6.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7820,Alibi,7600000,86,10,1929,79.16,5.7,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
data.sort_values('Year', inplace = True)

In [22]:
data['Budget'][data['Title'] == 'Parasite'] = 12000000
data['Months_till_Dec'][data['Title'] == 'Parasite'] = 6
data['Months_till_Dec'][data['Title'] == 'Parasite'] = 6

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
data['South Korea'] = 0
data['South Korea'][data['Title'] == 'Parasite'] = 1

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
data.columns.tolist()

['Title',
 'Budget',
 'Runtime',
 'Months_till_Dec',
 'Year',
 'Metascore',
 'imdbRating',
 'Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Drama',
 'Romance',
 'Action',
 'Crime',
 'Thriller',
 'History',
 'Science',
 'Fiction',
 'Mystery',
 'Horror',
 'War',
 'Foreign',
 'Western',
 'Documentary',
 'Music',
 'Biography',
 'Sci-Fi',
 'Film-Noir',
 'Musical',
 'Sport',
 'USA',
 'UK',
 'France',
 'Italy',
 'Germany',
 'Spain',
 'Belgium',
 'Australia',
 'Canada',
 'Mexico',
 'United',
 'Arab',
 'Emirates',
 'Japan',
 'Netherlands',
 'Hong',
 'Kong',
 'New',
 'Zealand',
 'Russia',
 'Austria',
 'Switzerland',
 'Taiwan',
 'Liechtenstein',
 'Portugal',
 'Denmark',
 'Ireland',
 'Czech',
 'Republic',
 'India',
 'Federal',
 'of',
 'Yugoslavia',
 'Bulgaria',
 'Hungary',
 'Philippines',
 'East',
 'West',
 'Czechoslovakia',
 'Norway',
 'Sweden',
 'China',
 'Monaco',
 'Morocco',
 'Iran',
 'South',
 'Africa',
 'Botswana',
 'Aruba',
 'Korea',
 'Brazil',
 'Chile',
 'Luxembourg',
 'Serbia',
 'Poland',
 'Peru',
 'Israel',
 'Romania',
 'Soviet',
 'Union',
 'Malta',
 'Singapore',
 'Finland',
 'Iceland',
 'Argentina',
 'Dominican',
 'Indonesia',
 'Namibia',
 'Bosnia',
 'and',
 'Herzegovina',
 'Slovenia',
 'Libya',
 'Bahamas',
 'Egypt',
 'Vietnam',
 'Jordan',
 'Greece',
 'Latvia',
 'Afghanistan',
 'Bangladesh',
 'Thailand',
 'Kenya',
 'Saudi',
 'Arabia',
 'Ghana',
 'Ethiopia',
 'Algeria',
 'Turkey',
 'Isle',
 'Of',
 'Man',
 'Ukraine',
 'Kazakhstan',
 'Slovakia',
 'Tunisia',
 'Mali',
 'British',
 'Virgin',
 'Islands',
 'Lithuania',
 'Zimbabwe',
 'Cayman',
 'Bahrain',
 'Guatemala',
 'Angola',
 'Belarus',
 'Croatia',
 'Palestine',
 'Panama',
 'Uruguay',
 'Georgia',
 'Jamaica',
 'Estonia',
 'North',
 'Macedonia',
 'Costa',
 'Rica',
 'Cyprus',
 'Puerto',
 'Rico',
 'Burkina',
 'Faso',
 'Cuba',
 'Venezuela',
 'Laos',
 'Uganda',
 'Kosovo',
 'Qatar',
 'Colombia',
 'Pakistan',
 'Cambodia',
 'Nigeria',
 'is_Nominated',
 'Won',
 'South Korea']

In [29]:
data = data[['Title',
 'Budget',
 'Runtime',
 'Months_till_Dec',
 'Year',
 'Metascore',
 'imdbRating',
 'Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Drama',
 'Romance',
 'Action',
 'Crime',
 'Thriller',
 'History',
 'Science',
 'Fiction',
 'Mystery',
 'Horror',
 'War',
 'Foreign',
 'Western',
 'Documentary',
 'Music',
 'Biography',
 'Sci-Fi',
 'Film-Noir',
 'Musical',
 'Sport',
 'USA',
 'UK',
 'France',
 'Italy',
 'Germany',
 'Spain',
 'Belgium',
 'Australia',
 'Canada',
 'Mexico',
 'United',
 'Arab',
 'Emirates',
 'Japan',
 'Netherlands',
 'Hong',
 'Kong',
 'New',
 'Zealand',
 'Russia',
 'Austria',
 'Switzerland',
 'Taiwan',
 'Liechtenstein',
 'Portugal',
 'Denmark',
 'Ireland',
 'Czech',
 'Republic',
 'India',
 'Federal',
 'of',
 'Yugoslavia',
 'Bulgaria',
 'Hungary',
 'Philippines',
 'East',
 'West',
 'Czechoslovakia',
 'Norway',
 'Sweden',
 'China',
 'Monaco',
 'Morocco',
 'Iran',
 'South',
 'Africa',
 'Botswana',
 'Aruba',
 'Korea',
 'Brazil',
 'Chile',
 'Luxembourg',
 'Serbia',
 'Poland',
 'Peru',
 'Israel',
 'Romania',
 'Soviet',
 'Union',
 'Malta',
 'Singapore',
 'Finland',
 'Iceland',
 'Argentina',
 'Dominican',
 'Indonesia',
 'Namibia',
 'Bosnia',
 'and',
 'Herzegovina',
 'Slovenia',
 'Libya',
 'Bahamas',
 'Egypt',
 'Vietnam',
 'Jordan',
 'Greece',
 'Latvia',
 'Afghanistan',
 'Bangladesh',
 'Thailand',
 'Kenya',
 'Saudi',
 'Arabia',
 'Ghana',
 'Ethiopia',
 'Algeria',
 'Turkey',
 'Isle',
 'Of',
 'Man',
 'Ukraine',
 'Kazakhstan',
 'Slovakia',
 'Tunisia',
 'Mali',
 'British',
 'Virgin',
 'Islands',
 'Lithuania',
 'Zimbabwe',
 'Cayman',
 'Bahrain',
 'Guatemala',
 'Angola',
 'Belarus',
 'Croatia',
 'Palestine',
 'Panama',
 'Uruguay',
 'Georgia',
 'Jamaica',
 'Estonia',
 'North',
 'Macedonia',
 'Costa',
 'Rica',
 'Cyprus',
 'Puerto',
 'Rico',
 'Burkina',
 'Faso',
 'Cuba',
 'Venezuela',
 'Laos',
 'Uganda',
 'Kosovo',
 'Qatar',
 'Colombia',
 'Pakistan',
 'Cambodia',
 'Nigeria',
 'South Korea',
 'is_Nominated',
 'Won']]

In [31]:
data.drop(['Arab','Emirates','Kong','New','Republic','Federal','of','East','West','South','and','Arabia','Isle','Of','Virgin','Islands','Rica','Rico','Faso'], axis = 1, inplace = True)

C:\Users\Basudev\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
data.rename(columns = {'United': 'UAE', 'Hong' : 'Hong Kong', 'Zealand' : 'New Zealand', 'Czech': 'Czech Republic', 
           'Soviet' : 'Soviet Union', 'Yugoslavia' : 'Federal of Yugoslavia', 'Africa' : 'South Africa', 
           'Saudi':'Saudi Arabia', 'Man':'Isle of Man', 'British' :'British Virgin Islands', 'Costa': 'Costa Rica', 
           'Puerto' :'Puerto Rico', 'Burkina' : 'Burkina Faso'}, inplace = True)

C:\Users\Basudev\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
data.drop('South Korea', axis = 1, inplace= True)
data.rename(columns = {'Korea' : 'South Korea'}, inplace = True)

In [40]:
data.reset_index(inplace = True)
data.drop('index', axis = 1, inplace = True)

C:\Users\Basudev\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
data.to_csv('oscars_12.csv', index = False)