In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('movies_7.csv')

#Checking if any budgets are 0
budget_missing = data['title'][data['budget'] == 0].tolist()

budget = pd.DataFrame(budget_missing, columns = ['title'])

budget.to_csv('budget.csv', index = False)

data[data['title'] == '"Three Billboards Outside Ebbing, Missouri"']

data[data['title'] == 'Emigrants']

In [17]:
budget = pd.read_csv('budget.csv')

In [18]:
budget

                                title     budget
0                               Joker   70000000
1    Once Upon a Time... in Hollywood   90000000
2                                1917  100000000
3                         Jojo Rabbit   14000000
4                      Ford v Ferrari   97600000
..                                ...        ...
192                   Smilin' Through     851000
193       The Hollywood Revue of 1929     426000
194                             Alibi    7600000
195  Chang: A Drama of the Wilderness          0
196                  The White Parade          0

[197 rows x 2 columns]

In [19]:
data

,title,runtime,budget,Year,Genre,is_Nominated,Won,Animation,Comedy,Family,...,Western,Documentary,Music,TV,Movie,Biography,Sci-Fi,Film-Noir,Musical,Sport
0,Toy Story,81,30000000,1995,Animation Comedy Family,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,104,65000000,1995,Adventure Fantasy Family,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Waiting to Exhale,127,16000000,1995,Comedy Drama Romance,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Heat,170,60000000,1995,Action Crime Drama Thriller,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sabrina,127,58000000,1995,Comedy Romance,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,Smilin' Through,0,0,1932,Drama Romance,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8699,The Hollywood Revue of 1929,0,0,1929,Musical,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8700,Alibi,0,0,1929,Crime,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8701,Chang: A Drama of the Wilderness,0,0,1927,Adventure Documentary,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8702,The White Parade,0,0,1934,Drama,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#Fixing the budget being 0 issue
for i in budget.index:
    if budget['title'][i] in data['title'].tolist():
        data['budget'][data['title'] == budget['title'][i]] = budget['budget'][i]

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
data.drop(['TV', 'Movie'], axis = 1, inplace = True)

In [27]:
data = data[data['budget'] != 0]

In [28]:
data.reset_index(inplace = True)
data.drop('index', axis = 1, inplace = True)
data

C:\Users\Basudev\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,title,runtime,budget,Year,Genre,is_Nominated,Won,Animation,Comedy,Family,...,War,Foreign,Western,Documentary,Music,Biography,Sci-Fi,Film-Noir,Musical,Sport
0,Toy Story,81,30000000,1995,Animation Comedy Family,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,104,65000000,1995,Adventure Fantasy Family,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Waiting to Exhale,127,16000000,1995,Comedy Drama Romance,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Heat,170,60000000,1995,Action Crime Drama Thriller,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sabrina,127,58000000,1995,Comedy Romance,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655,State Fair,0,4500000,1933,Comedy Drama Romance,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8656,Flirtation Walk,0,479000,1934,Musical Romance,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8657,Smilin' Through,0,851000,1932,Drama Romance,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8658,The Hollywood Revue of 1929,0,426000,1929,Musical,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8659,Alibi,0,7600000,1929,Crime,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
data.to_csv('oscars_8.csv', index = False)